//Layout
$width-max: 1366px;
$width-min: 1024px;
$height-max: 1024px;
$height-min: 768px;

// colors
$light-gray: #f1f1f1;
$black: #111111;
$purple: #46178f;
$blue: #758bc8;
$light-blue: #bfcae8;
$magenta: #b45196;
$dark-magenta: #ac3288;
$yellow: #fdbc65;
$white: #ffffff;

// typography
$game-font: 'Dangrek', cursive;
$extra-big-font: 100px;
$big-font: 40px;
$medium-font: 30px;
$small-font: 20px;
