@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');

@import 'reset.scss';
@import 'variables.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dangrek', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
